/*
shorthand for padding, margin, & border:
top, right, bottom, left
*/

/*
use 'em' instead of px for margin & padding to make size relative to font
*/



.nom {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: purple;
	background-color: black;
	margin: 0 5em;
	padding: .25em .5em;
}

.hotstuff {
	background-color: transparent;
	background-image: url(http://assets.atlasobscura.com/article_images/10827/image);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 

	font-family: 'Roboto', sans-serif;
	font-size: .7em;
	font-weight: 100;
	font: normal, .7em 'Roboto', sans-serif;
	color: white;
	margin: 0 10em;
	padding: .5em 3em;
	
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}

/* - scroll & border - */

.hotstuff {
	overflow-y: scroll;
	max-height: 10em;
	border-style: groove;
	border-color: #a19999;
}

.h6 {

	font: normal, .75em 'Roboto', sans-serif;
	color: white;
	padding: .25em 1em;
	background-color: black;
	margin:0 5em;
	text-align: center;
}

h1, h3 {
	display: flex;
	color: white;
	font: bold, 1em 'Roboto', sans-serif;
	flex-wrap: wrap;
	justify-content: center;
}
h3 {

}

p {
	font: normal, 1em 'Roboto', sans-serif;
	justify-content: center;
	flex-wrap: wrap;

}